<section>
       <div class="container">
              <div class="row">
                     <div class="sm col-md-8 col-lg-5 mx-auto mt-5">

                            <div class="card shadow-lg border-danger">
                                   <div class="border-bottom border-danger p-2 shadow">
                                          <h3 class="fw-bold my-0 text-center">Admin Login</h3>
                                   </div>
                                   <div class="card-body px-4 py-5">
                                          <form
                                                 action="/admin/login"
                                                 method="post"
                                                 autocomplete="off"
                                                 id="adminLoginForm"
                                          >
                                                 <div class="mb-3">
                                                        <label
                                                               for="adminName"
                                                               class="form-label"
                                                        >Admin name</label>
                                                        <input
                                                               type="text"
                                                               name="adminName"
                                                               class="form-control"
                                                               id="adminName"
                                                               value="admin123@gmail.com"
                                                        />
                                                 </div>
                                                 <div class="mb-3">
                                                        <label
                                                               for="password"
                                                               class="form-label"
                                                        >Password</label>
                                                        <input
                                                               type="password"
                                                               name="password"
                                                               class="form-control"
                                                               id="password"
                                                               value="admin123@321"
                                                        />
                                                 </div>
                                                 {{#if loginError}}
                                                        <div class="mb-3 text-center">
                                                               <p
                                                                      class="text-danger"
                                                               >{{loginError}}</p>
                                                        </div>
                                                 {{/if}}
                                                 <button
                                                        type="submit"
                                                        class="btn btn-outline-danger fw-bold col-12"
                                                 >Submit</button>
                                          </form>
                                   </div>
                            </div>

                     </div>
              </div>
       </div>
</section>

<script src="/javascripts/adminFormValidation.js"></script>