<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg border-bottom border-danger">
       <div class="container-fluid">
              <a class="navbar-brand" href="#">
                     <img
                            class="img img-fluid logo me-2"
                            src="https://cdn-icons-png.flaticon.com/512/234/234635.png"
                            alt="ReaderHub icon"
                     />
                     Reader Hub - Admin
              </a>
              <div class="d-flex ms-md-auto">
                     <p class="my-auto me-3">{{admin}}</p>
                     <a class="btn btn-danger fw-bold" href="/admin/logout">Logout</a>
              </div>
       </div>
</nav>